<link rel="stylesheet" href="navbarComp/navbarComp.css">    


<nav class="navbar ">

    <div class="container">
        <div class="row">
        <ul class="nav navbar-nav col-xs-12 col-sm-12 ">
            <li class="  home col-xs-4 col-sm-3 col-md-1">
                <a href="#" class="nopadding"><span class=" text-nowrap glyphicon glyphicon-home"> Home</span></a>
            </li>
            <li class="nopadding text-nowrap ccc col-xs-4 col-sm-3 col-md-1" ><a href="#" class="nopadding">Today deals</a></li>
            <li class="nopadding text-nowrap ddd col-xs-4 col-sm-2 col-md-1"><a href="#" class="nopadding">Contact us</a></li>
            <li class=" text-nowrap reviews col-xs-6 col-sm-3 col-md-2 " ng-if="$ctrl.userPrivel == 1" }}>
                <a href="#" class="nopadding">Reviews list</a></li>
            <li class="nopadding text-nowrap users col-xs-6 col-sm-3 col-md-2" ng-if="$ctrl.userPrivel == 1" }}>
                <a href="#" class="nopadding">Users list</a></li>

            <li class="text-nowrap col-xs-6 col-sm-2 col-md-2 dropdown "><a class=" text-nowrap dropdown-toggle" data-toggle="dropdown" href="#" class="nopadding">
                Hi Raz!</a>
            </li>
            <li class="cart col-xs-3 col-sm-1 col-md-1 navbar-right ">
                <a href="#" class="glyphicon glyphicon-shopping-cart"></a>
            </li>
            <li class="col-xs-3 col-sm-1 col-md-1 navbar-right ">
                <a class="glyphicon glyphicon-user"></a>
            </li>

        </ul>
        
        </div>
        
    </div>
</nav>